@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
}

$primary-color: dodgerblue;
$secondary-color: rebeccapurple;
$dark-color: navy;

html {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

::selection {
  background: $primary-color;
  color: #fff;
}

p {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}
 
hr {
  border: 0;
  border-top: 3px dotted $secondary-color;
  margin: 1em 0;
}

time {
  color: grey;
}

blockquote {
  border-left: 3px solid $secondary-color;
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

// anchor
a {
  border-bottom: 3px solid $primary-color;
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: $secondary-color;
  color: #fff;
}

// list
ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

// heading
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}
h1::before { color: $primary-color; content: '# '; }
h2::before { color: $primary-color; content: '## '; }
h3::before { color: $primary-color; content: '### '; }
h4::before { color: $primary-color; content: '#### '; }
h5::before { color: $primary-color; content: '##### '; }
h6::before { color: $primary-color; content: '###### '; }

header {
  margin: 1em 0;
}

.my-header {
  font-size: 1.5rem;
}

footer {
  margin: 1em 0 5em;

  // icon
  svg {
    max-height: 20px;
  }
  .my-social {
    padding: 10px 5px 0 5px;
  }
}

// code blocks
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}
pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}
.highlight pre code[class*='language-go']::before {
  content: 'Go';
  background: cyan;
  color: royalblue ;
}

// images
img {
  border: 3px solid #ececec;
  max-width: 100%;
}
figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}
figure img {
  max-height: 500px;
}
@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}
figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

// draft badge
.my-draft { 
  color: $dark-color;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4;
}

// bookmarks
.my-bookmark-timestamp {
  font-size: 0.9em;
}
.my-bookmark-link {
  font-size: 0.9em;
}
.row.my-bookmark-tags {
  margin: 0.5em 0 1em;
}
.col-xs-1.my-bookmark-tag {
  // override flexbox
  flex-basis: auto;
  max-width: fit-content;
  
  border-radius: 0.375em;
  background-color: #00d1b2;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 550;
  margin: 0.1em;
  padding: 0.2em 0.4em;
}
