@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}

/* body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 1.6em;
} */

$h1-color: red;
$a-color: yellow;

body {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
  background-color: aqua;

  div {
    color: $h1-color !important;
  }
}
