{{ define "main" }}

<!-- most relevant tags -->
<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box my-tag-page">
      <h1>Most relevant</h1>
      <div class="row my-bookmark-tags">
        <!-- find all tags -->
        {{ $tags := slice }}
        {{ range $.Site.Data.telegram }}
          {{ $tags = $tags | append .tags }}
        {{ end }}

        <!-- count tags, creates multiple scratches, once for each tag -->
        {{ $counts := newScratch }}
        {{ range $tags }}
          {{ $counts.Add .name 1 }}
        {{ end }}
        <!-- .Values converts scratch to map -->
        <!-- {{ printf "%#v" $counts.Values }} -->

        <!-- list of unique tags with total count, excluded auto -->
        {{ $tagsWithCount := slice }}
        {{ range where (uniq $tags) "auto" false }}
          {{ $count := $counts.Get .name }}
          {{ $tagsWithCount = $tagsWithCount | append (dict "name" .name "count" $count) }}
        {{ end }}
        <!-- {{ printf "%#v" $tagsWithCount }} -->

        <!-- sort tags by count, limit to N -->
        {{ range first $.Site.Params.maxRelevant (sort $tagsWithCount "count" "desc") }}
          <!-- url -->
          {{ $tags_url := (printf "/tags/%s" (urlize .name)) }}
          <div class="col-xs-1 my-bookmark-star">
            <a href="{{ $tags_url }}">{{ .name }}<span>&nbsp;({{ .count }})</span></a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<!-- external tags -->
<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box my-tag-page">
      <h1>External</h1>
      <div class="row my-bookmark-tags">
        <div class="col-xs-1 my-bookmark-external">TODO</div>
      </div>
    </div>
  </div>
</div>

<!-- find all unique paths -->
{{ $paths := slice }}
{{ range .Site.Data.telegram }}
  {{ $paths = $paths | append .path }}
{{ end }}
{{ $paths = uniq $paths }}

<!-- {{ printf "%#v" $paths }} -->

<!-- list sorted tags with counts, grouped by path -->
<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box my-tag-page">
      <h1>All Tags by Folder</h1>
      {{ range sort $paths }}
        <!-- folder url -->
        {{ $path := . }}
        {{ $folder_slug := replace (strings.TrimSuffix "/" (strings.TrimPrefix "/" $path)) "/" "-" }}
        {{ $folder_url := (printf "/folders/%s" (urlize $folder_slug)) }}

        <!-- find all tags in this path -->
        {{ $tags := slice }}
        {{ range where $.Site.Data.telegram "path" $path }}
          {{ $tags = $tags | append .tags }}
        {{ end }}

        <div class="row my-bookmark-tags">
          <div class="col-xs-1 my-bookmark-folder"><a href="{{ $folder_url }}">{{ $path }}</a></div>
          <!-- sort unique tags -->
          {{ range sort (uniq $tags) "name" "asc" }}
            <!-- url -->
            {{ $tags_url := (printf "/tags/%s" (urlize .name)) }}
            <!-- count -->
            {{ $counts := newScratch }}
            {{ range where $tags "name" .name }}
              {{ $counts.Add "count" 1 }}
            {{ end }}
            <div class="col-xs-1 my-bookmark-tag {{ if .auto }}my-bookmark-tag-auto{{ end }}">
              <a href="{{ $tags_url }}">{{ .name }}<span>&nbsp;({{ $counts.Get "count" }})</span></a>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
