@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans-Regular.ttf") format("truetype");
}

$primary-color: dodgerblue;
$seconday-color: rebeccapurple;
$badge-color: navy;

html {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em;
}

body{
  display: block;
  margin: 8px;
}
.my-container {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: $primary-color;
  color: #fff;
}

p {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}
 
hr {
  border: 0;
  border-top: 3px dotted $seconday-color;
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid $seconday-color;
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

// anchor
a {
  border-bottom: 3px solid $primary-color;
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: $seconday-color;
  color: #fff;
}

// list
ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

// header
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}
header .my-header {
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}
h1 .my-title {
  margin-bottom: 0;
}
h1::before { color: $primary-color; content: '# '; }
h2::before { color: $primary-color; content: '## '; }
h3::before { color: $primary-color; content: '### '; }
h4::before { color: $primary-color; content: '#### '; }
h5::before { color: $primary-color; content: '##### '; }
h6::before { color: $primary-color; content: '###### '; }

footer {
  margin-top: 1em;

  // icon
  svg {
    max-height: 20px;
  }
}

time {
  color: grey;
}

// code blocks
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}
pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}
.highlight pre code[class*='language-go']::before {
  content: 'Go';
  background: cyan;
  color: royalblue ;
}

// draft badge
.my-draft { 
  color: $badge-color;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4;
}
