{{ define "main" }}

<!-- find all unique paths -->
{{ $paths := slice }}
{{ range .Site.Data.telegram }}
  {{ $paths = $paths | append .path }}
{{ end }}
{{ $paths = uniq $paths }}

<!-- list grouped by path, sorted and limited to max N -->
<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1>Latest by Folder</h1>
      {{ range sort $paths }}
        {{ $path := . }}
        {{ $folder_slug := replace (strings.TrimSuffix "/" (strings.TrimPrefix "/" $path)) "/" "-" }}
        {{ $folder_url := (printf "/folders/%s" (urlize $folder_slug)) }}
        <a class="my-folder-title" href="{{ $folder_url }}">{{ $path }}</a>
        <ul>
          {{ range first $.Site.Params.maxFolders (where (sort $.Site.Data.telegram "timestamp" "desc") "path" $path) }}
          <li><a href="{{ .url }}" target="_blank">{{ .description }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</div>

<hr/>

<!-- find all tags -->
{{ $tags := slice }}
{{ range .Site.Data.telegram }}
  {{ $tags = $tags | append .tags }}
{{ end }}

<!-- {{ printf "%#v" $tags }} -->

<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1>All Tags</h1>
      <ul>
        <!-- sort unique tags -->
        {{ range sort (uniq $tags) "name" "asc" }}
          <!-- url -->
          {{ $tags_url := (printf "/tags/%s" (urlize .name)) }}
          <!-- count -->
          {{ $counts := newScratch }}
          {{ range where $tags "name" .name }}
            {{ $counts.Add "count" 1 }}
          {{ end }}
          <li><a class="my-tag-title" href="{{ $tags_url }}">{{ .name }}</a><span>&nbsp;({{ $counts.Get "count" }})</span></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ end }}
