<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>

  <link rel="icon" type="image/png" href="{{ "images/favicon.ico"  | absURL }}">
  
  <!-- loads main style and combines all scss files to one minified file -->
  {{ $style := resources.Get "scss/main.scss" }}
  <!-- order of "@import" matter: see "resources.Match" alternative -->
  {{ $stylePaths := readDir "assets/scss" }}
  {{ range $stylePaths }}
    {{ $stylePath := resources.Get (printf "scss/%s" .Name) }}
    {{ $style = slice $stylePath $style | resources.Concat .Name }}
  {{ end }}
  {{ $style = slice $style | resources.Concat "all.css" | toCSS | minify | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js"></script>
</head>
