<header>
	<div class="row">
		<div class="col-xs-12 col-sm-2 start-xs">
			<div class="box">
				<a class="my-header" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 start-xs end-sm">
			<!-- list draft pages -->
			<!-- <div class="box">
				{{ range .RegularPages }}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				{{ end }}
			</div> -->
			<div class="box">
				{{ range .Site.Menus.main }}
				<a href="{{ .URL }}">{{ .Title }}</a>
				{{ end }}
			</div>
		</div>
	</div>
</header>
