<!-- {{ printf "%#v" .items }} -->
{{ $items := .items }}

<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1>{{ .title | title }}</h1>
      <!--
      <ul>
        {{ range sort $items "timestamp" "desc" }}
        <li><a href="{{ .url }}" target="_blank">{{ .description }}</a></li>
        {{ end }}
      </ul>
      -->
      
      {{ if eq .type "FOLDER" }}
        <!-- find all unique tags from the items -->
        {{ $tags := slice }}
        {{ range sort $items "timestamp" "desc" }}
          {{ $tags = $tags | append .tags }}
        {{ end }}

        <!-- group items by tags, ignore auto -->
        {{ range where (sort (uniq $tags) "name" "asc") "auto" false }}
          {{ $tag := .name }}
          <h2>{{ $tag | title }}</h2>

          <!-- items are duplicated for each tag, except auto -->
          {{ range (sort $items "timestamp" "desc") }}
            {{ $item := . }}
            {{ range where .tags ".name" $tag }}
              {{- partial "item.html" $item -}}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if eq .type "TAG" }}
        <!-- find all unique paths from the items -->
        {{ $paths := slice }}
        {{ range sort $items "timestamp" "desc" }}
          {{ $paths = $paths | append .path }}
        {{ end }}

        <!-- group items by path -->
        {{ range sort (uniq $paths) }}
          {{ $path := . }}
          <h2>{{ (strings.TrimPrefix "/" $path) | title }}</h2>

          {{ range where (sort $items "timestamp" "desc") "path" $path }}
            {{- partial "item.html" . -}}
          {{ end }}
        {{ end }}

      {{ end }}
    </div>
  </div>
</div>
