{{ define "main" }}
<div class="row start-xs">
  <div class="col-xs-12">
    <h1 class="my-title">{{ .Title }}</h1>
  </div>
</div>
<div class="row start-xs">
  <div class="col-xs-12">
    {{ range sort .Site.Data.telegram "timestamp" "desc" }}
    <div class="row bottom-xs my-bookmark">
      <div class="col-xs-12 col-sm-3">
        <!-- RFC1123 "Mon, 02 Jan 2006 15:04:05 MST" -->
        <div class="box my-bookmark-timestamp"><time>{{ dateFormat "Mon, 02 Jan 2006" .timestamp }}</time></div>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="box">
          <div class="row end-sm my-bookmark-tags">
            {{ range sort .tags "name" "asc" }}
            {{ $tags_path := (printf "/tags/%s" (urlize .name)) }}
            <div class="col-xs-1 my-bookmark-tag"><a href="{{ $tags_path }}">{{ .name }}</a></div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box my-bookmark-link"><a href="{{ .url }}" target="_blank">{{ .description }}</a></div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
