{{ define "main" }}
<div class="row start-xs">
  <div class="col-xs-12">
    <h1 class="my-title">{{ .Title }}</h1>
  </div>
</div>
<div class="row start-xs">
  <div class="col-xs-12">
    {{ range .Site.Data.telegram }}
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="box my-bookmark-timestamp"><time>{{ .timestamp }}</time></div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-9">
        <div class="box my-bookmark-link"><a href="{{ .url }}" target="_blank">{{ .description }}</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="row my-bookmark-tags">
            {{ range .tags }}<div class="col-xs-1 my-bookmark-tag">{{ .name }}</div>{{ end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
