{{ define "main" }}

<!-- find all unique tags -->
{{ $tags := slice }}
{{ range .Site.Data.telegram }}
  {{ $tags = $tags | append .tags }}
{{ end }}
{{ $tags = uniq $tags }}

<!-- {{ printf "%#v" $tags }} -->

<div class="row start-xs">
  <div class="col-xs-12">
    <div class="box">
      <h1>{{ .Title }}</h1>
      <ul>
        {{ range $tags }}
        {{ $tags_path := (printf "/tags/%s" (urlize .name)) }}
        <li><a href="{{ $tags_path }}">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>

{{ end }}
